/* ----- Primary Colors ----- */
$color-primary-lineargradient: linear-gradient(
  hsl(249, 99%, 64%),
  hsl(278, 94%, 30%)
);
$color-primary-red: hsl(0, 100%, 66%);

/* ----- Neutral Colors ----- */
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-lightgrayishviolet: hsl(270, 3%, 87%);
$color-neutral-darkgrayishviolet: hsl(279, 6%, 55%);
$color-neutral-verydarkviolet: hsl(278, 68%, 11%);
