@use "assets/styles/common" as *;
@use "assets/styles/main.scss" as *;

.App {
  height: 100vh !important;
  @include isMediaTabletLandscape() {
    display: flex;
    flex-direction: row;
  }
  .addcard {
    &__banner {
      position: relative;
      background-image: url("./assets/images/bg-main-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 28%;

      @include isMediaTabletLandscape() {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
      }

      img {
        height: 70%;
        width: 74%;

        @include isMediaTabletLandscape() {
          height: 33%;
          width: 100%;
        }
      }

      svg {
        transform: scale(0.7);

        @include isMediaTabletLandscape() {
          transform: scale(0.8);
          margin-left: 1.25rem !important;
          margin-top: 1.25rem !important;
        }
      }

      &__card {
        &__back {
          position: inherit;
          top: 15%;
          left: 21%;

          @include isMediaTabletLandscape() {
            top: -15%;
            bottom: 10%;
            left: 45%;
          }

          &__cvc {
            position: absolute;
            bottom: 48%;
            right: 15%;
            color: $color-neutral-white;
            font-size: $font-size-11;
            letter-spacing: 1px;

            @include isMediaTabletLandscape() {
              bottom: 31%;
              left: 125%;
              font-size: $font-size-12;
            }
          }
        }

        &__front {
          position: absolute;
          top: 54%;
          left: 5%;

          @include isMediaTabletLandscape() {
            top: 15%;
            left: 24%;
          }

          &__number {
            position: absolute;
            top: 87%;
            left: 9%;

            @include isMediaTabletLandscape() {
              top: 36%;
              left: 31%;
            }

            span {
              letter-spacing: 2px;
              color: $color-neutral-white;
              font-size: $font-size-18;

              @include isMediaTabletLandscape() {
                font-size: $font-size-24;
              }
            }
          }

          &__namedate {
            position: absolute;
            top: 96%;
            left: 10%;

            margin-top: 20px;

            @include isMediaTabletLandscape() {
              top: 39%;
              left: 31%;
            }

            p,
            span {
              color: $color-neutral-white;
              font-size: $font-size-11;
              letter-spacing: 2px;

              @include isMediaTabletLandscape() {
                font-size: $font-size-12;
              }
            }

            p {
              margin-right: 5rem;
            }
          }
        }
      }
    }

    &__form {
      margin-top: 104px;

      input {
        height: 45px;
        border: $border-01 solid $color-neutral-lightgrayishviolet;

        &::placeholder {
          color: $color-neutral-lightgrayishviolet;
        }
      }

      &__hint-text {
        color: $color-primary-red;
      }

      &__expirationdate {
        input {
          width: 76px;
        }
      }

      &__cvv {
        input {
          width: 100%;
          padding: 0 7rem;

          @include isMediaTabletLandscape() {
            padding: 0 11rem;
          }
        }
      }

      label {
        letter-spacing: 1px;
        font-size: $font-size-14;
      }
    }

    &__thankyou {
      margin-top: 104px;

      h1 {
        font-weight: $font-weight-medium;
        letter-spacing: 2px;
      }

      p {
        color: $color-neutral-darkgrayishviolet;
        font-size: $font-size-18;
      }
    }

    &__form,
    &__thankyou {
      button {
        width: 100%;
        background-color: $color-neutral-verydarkviolet;
        color: $color-neutral-white;
        border: none;
        font-size: $font-size-18;
      }

      @include isMediaTabletLandscape() {
        margin: 0;
        left: 66%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
      }
    }
  }
}
