@use "assets/styles/common" as *;
@use "assets/styles/main.scss" as *;

.App {
  height: 100vh;

  .addcard {
    &__banner {
      position: relative;
      background-image: url("./assets/images/bg-main-mobile.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 28%;

      img {
        height: 70%;
        width: 74%;
      }

      svg {
        transform: scale(0.7);
      }

      &__card {
        &__back {
          position: inherit;
          top: 15%;
          left: 21%;

          &__cvc {
            position: absolute;
            bottom: 48%;
            right: 15%;
            color: $color-neutral-white;
            font-size: $font-size-11;
            letter-spacing: 1px;
          }
        }

        &__front {
          position: absolute;
          top: 54%;
          left: 5%;

          &__number {
            position: absolute;
            top: 87%;
            left: 9%;

            span {
              letter-spacing: 2px;
              color: $color-neutral-white;
              font-size: $font-size-18;
            }
          }

          &__namedate {
            position: absolute;
            top: 95%;
            left: 9%;

            p,
            span {
              color: $color-neutral-white;
              font-size: $font-size-11;
              letter-spacing: 2px;
            }

            p {
              margin-right: 5rem;
            }
          }
        }
      }
    }

    &__form {
      margin-top: 96px;

      input {
        height: 45px;
        border: $border-01 solid $color-neutral-lightgrayishviolet;

        &::placeholder {
          color: $color-neutral-lightgrayishviolet;
        }
      }

      &__hint-text {
        color: $color-primary-red;
      }

      &__expirationdate {
        input {
          width: 76px;
        }
      }

      &__cvv {
        input {
          width: 100%;
          padding: 0 7rem;
        }
      }

      label {
        letter-spacing: 1px;
        font-size: $font-size-14;
      }

      button {
        width: 100%;
        background-color: $color-neutral-verydarkviolet;
        color: $color-neutral-white;
        border: none;
        font-size: $font-size-18;
      }
    }
  }
}
